# Virtual environments
backend/venv/
backend/**/__pycache__/
backend/**/*.pyc
backend/**/.pytest_cache/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# variabili d'ambiente
frontend/.env
